@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'V-GERB bold';
  src: url('V-GERB(bold).ttf');
}
@font-face {
  font-family: 'V-GERB light';
  src: url('Veger(light).ttf');
}
@font-face {
  font-family: 'V-GERB';
  src: url('Voyager Grotesque(regular).ttf');
}
html body {
  background-color:#160011;
  padding:0;
  margin:0;
  color:#20F3D9;
  cursor: none;

}

/* adapted from https://codepen.io/designcourse/pen/GzJKOE */
.cursor {
  z-index: 2;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 60ms;
    transition-timing-function: ease-out;
    // animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    // animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #20F3D9;
}

.differentFont p {
  margin:0;
  padding:0;
}
.titleText p {
  margin:0;
  padding:0;
}
.word{
  background: -webkit-linear-gradient(#eee, #20F3D9);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 /* text gradient from https://css-tricks.com/snippets/css/gradient-text/ */
  /* border:2px solid blue; */
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-top: none;
  /* line-height: 55px; */


}




.titleTextSection{
  height:925px;
  /* border:2px solid green; */
display: flex;
flex-wrap:wrap;
 font-size:90px;
  align-content: center;
  justify-content: center;
}
.titleText{
  /* border: 2px solid white; */
  display: inline-block;

  font-family:'Saira Semi Condensed';
  font-weight:500;
}
.differentFont{
  display: inline-block;
  font-size:105px;
  font-family:'V-GERB bold';
}

#movieSection{
  display: flex;
  flex-direction:column;
  align-items: center;
}

#specificMovieSection{
  /* border:2px solid white; */
  /* height:250px; */
  /* width:100%; */
}

#movieListForSort{
  /* border:2px solid green; */
  width:60%;

}


.animatedParent{
  margin-top:25px;
  /* border:2px solid purple; */
  width:100%;
}
.movieFocusStyle{
  /* color:white; */
  /* border:10px solid blue; */
  /* width: 100%; */
  font-family:'Saira Semi Condensed';
  font-weight:500;
  text-align:center;
  /* height:500px; */
  /* border-radius:600px; */

}

.listStyle{
  list-style-type: none;
margin-left:-40px;;
}


.movieTitleSectionStyle{
color:pink;
/* border:2px solid red; */
font-size:85px;
display: flex;
flex-direction: column;
align-items: center;


}

.movieTitleTextStyle{
font-weight:700;
  line-height: 95px;
  color:white;
  /* border:2px solid yellow; */
  width:75%;
}

.movieSynopsisSectionStyle{
  text-align: left;
  color:white;
  /* border: 2px solid red; */
  font-size: 18px;
  font-weight:normal;
  width:55%;
  padding-bottom:50px;
  margin-bottom:10px;
  border-bottom:5px solid white;
  /* height:50px; */
}

.twoPartSectionStyle{

  /* border:2px solid green; */
  /* height:45px; */
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.slideShowAndText{

  /* border:2px solid green; */
  /* height:45px; */
  display: flex;
  align-items: center;
  flex-direction:column;
  width:100%;


  border:2px solid pink;
}

.cardSlideShow{
  /* width:75%; */
  border:2px solid purple;
  /* width:60%; */
  /* height:50px; */
  /* width:100%; */


}
.cardText{
  width:65%;

  border:2px solid yellow;
    /* height:50px; */
    /* width:100%; */

}

.moviePosterContainerStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid pink; */
  width:100%;
  justify-content: center;
  /* padding-right:-190px; */
}

.movieTextSectionStyle{
  /* border-top: 2px  solid white; */


}

.splide__slide img {
	width : 20px;
	height: 40px;
}

.card{
  /* display: none; */
}

.testColor{
  background-color:pink;
}



.showMe{

/* background-color:red; */
}

.windowContentStyles{
  display: none;
  max-width:500px;
  background-color:red;


}


#windowContentStyles2{
  background-color:red;


}


.cardStyle{
  width:75%;
  height:800px;
  font-family:'Saira Semi Condensed';
  font-weight:500;
}

#card1984{
  background-color:teal;


}
#CaptainAmericaCard{
  background-color:blue;
}

#selectableModal{
  background-color:red;

}

.fancybox-nav {

display:none;

}

.backgroundImages{
  position:absolute;
  top:250px;
  z-index: -2;
  animation: rotation 140s infinite linear;

}

.moreBackgroundImages img{
  position: absolute;
  z-index: -5;
  width:450px;
  height:auto;
  /* border:3px solid grey; */

}

#photo1 {
  bottom:75px;
  right:165px;
  transform: rotate(160deg);
}
#photo2 {
  top:35px;
  left:65px;

  transform: rotate(120deg);
}
#photo3 {
  right:165px;

  top:35px;
  transform: rotate(160deg);
}
#photo4 {
  right:65px;

  left:35px;
  transform: rotate(60deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#beforeClickContent{
  background-color:pink;
}

.releaseYearSectionStyle{
  font-size:25px;
  color:white;
}

.predictedYearSectionStyle{
  font-size:25px;
color:white;
}

/* sort styles from https://listjs.com/examples/data-attributes-custom-attributes/ */
.sort {
  font-family:'Saira Semi Condensed';
  line-height: 10px;

  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
  background-color:red;

}

.filterButton{
  font-family:'Saira Semi Condensed';
  line-height: 10px;
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}


.filterButton:hover{
  background-color:#1b8aba;

}
.filterButton:focus{
  background-color:yellow;
}


.sort:after {

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.beforeClickContentDiv{

  color:white;
  font-size:24px;
  text-align:left;
}

.beforeClickContentDiv h1{
  text-align:center;
  color:white;

}
.beforeClickContentDiv p{
margin-left:25px;
margin-right:25px;
text-align:left;
}

a{
  padding:8px 20px;
  font-size:25px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:50px;
  transition:0.5s;
}

a:hover{


  background-color:#1B1464;

}

#searchBar{
  font-family:'Saira Semi Condensed';
  color:white;
  height:24px;
  border-radius: 6px;


  background-color:#11000F;
  border:2px solid white;
}

/* adapted from https://css-tricks.com/gradient-borders-in-css/ */
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  /* border-radius: 100px; */

}
.border-gradient-purple {
  border-image-source: linear-gradient(to top, #20F3D9, white);
}

.cardContent{
  color:white;
  /* border: 10px solid blue; */
  /* height:200%; */
  display: flex;
  flex-direction:column;
  align-items:center;
}

.cardContent p{

  font-size:22px;
}



#NerveCard{
  background-color:#5758BB;
}

.cardContent h1{
  margin-top:0px;
  font-size:60px;
  margin-bottom:0px;

}

.cardContent h2{
  margin-top:0px;

  font-weight:500;
}

.quoteDivSection{
  border:3px solid yellow;
  /* width:100%; */
  height:925px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quoteDiv{
  height:50%;
  display: inline-block;
  border:2px solid red;
  width:60%;
  /* height:500px; */
  font-family:'Saira Semi Condensed';
}

.quoteIcon{
  font-size:290px;
  padding-top:150px;
  line-height: 5px;
  display: inline-block;
  vertical-align: bottom;

  /* border: 2px solid yellow; */
}

.quoteText{
  font-size:60px;
  line-height: 65px;

  display: inline-block;

  /* border:2px solid pink; */
}

.attributionText{
  font-size:50px;
}

.scrollDownSection{
  border:2px solid teal;
  height:50px;
  width:50px;
  }

  #slideShowFacialRecognition img{

  }

  .splide__slide.is-active.is-visible{
    width:300px;
    height:300px;
  }
